.containerMovie {
  margin:100px 0 0 ;
  position: relative;
  display: flex;
  flex-wrap: wrap;         /* Permite que los elementos se acomoden en varias filas si es necesario */
  gap: 20px;              /* Espacio entre las columnas */
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  
  }
  
  
  .columnaMovie {
  flex: 1 1 30%;           /* Los elementos ocuparán un 30% del ancho disponible */
  min-width: 250px;        /* El tamaño mínimo de cada columna será de 250px */
  max-width: 33%;          /* El tamaño máximo de cada columna será de un 33% del contenedor */
  display: block;
  }
  
  
  .columnaMovie img {
  max-width: 250px;
  margin: 0 auto;
  }
  
  .contenedorReparto {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Espacio entre columnas */
  }
  
  .columnaReparto {
  flex: 1 1 22%; /* 22% de ancho, adaptativo */
  padding: 10px 10px 50px;
  box-sizing: border-box;
  justify-content: flex-start;
  }
  
  .columnaReparto img {
  max-width: 75px;
  display: block;
  margin: 0 auto; /* Center the image */
  }
  
  .columnaReparto h2 {
  font-weight: lighter;
  }
  
  .columnaReparto h4 {
  font-size: 0.8rem;
  text-align: center;
  font-weight: lighter;
  padding:25px 0 15px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal-content {
    background: white !important;
    padding: 50px !important;
    border-radius: 1rem;
    max-width: 70%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    animation: slideUp 0.4s ease-out;
  }

  .modal-content h1 {
    margin-top: 0;
    margin-bottom: 0.5rem; /* Or any value you prefer */
  }


  @media (min-width:1280px) and (max-width:1700px){
    .modal-content {
      max-width: 90%;
    }
  }

  
  @media (min-width:1024px) and (max-width:1279px){
    .modal-content {
      max-width: 90%;
      padding: 30px !important;
    }

    .modal-content h1 {
      font-size: 2rem;
      padding:0 0 20px;
    }

    .modal-content hr {
      display: none;
    }

    .containerMovie {
      margin:10px 0 0 ; 

    }
    
    
  }

  @media (min-width:320px) and (max-width:991px){
    .columnaMovie h2 {
      text-align: center;
    }
  }


  @media (min-width:320px) and (max-width:800px){
    .containerMovie {
      display: flex;
      flex-direction: column;
      gap: 1rem; /* optional spacing between columns */
      margin-top: 30px !important;
    }
  
    .columnaMovie {
      width: 100%; /* Make each column full width */
    }

    .bannerMovie img {
      display: none !important;
     
    }

    .modal-content hr {
      display: none;
    }

    .modal-content h1 {
      margin-top: 0;
      margin-bottom: 1px !important;
      font-size: 2rem;
    }

    .info{
      margin:0 !important;
      padding: 0 !important;
    }
  }

  
  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  
  @keyframes slideUp {
    from { transform: translateY(50px); opacity: 0 }
    to { transform: translateY(0); opacity: 1 }
  }

  .trailer-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .trailer-modal-content {
    position: relative;
    width: 90%;
    max-width: 800px;
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
  }
  
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  .tab {
    display: block;
    }
    
    .tab a {
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    border: 1px solid #351435;
    padding: 5px 10px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    width: 100px;
    }
    
    .tab a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.4s;
    }
    
    .tab a:hover:before {
    transform: translateY(0);
    }
    
    .tab a:hover {
    color: white;
    }