

.proximamente {
    text-align: center;
    margin-bottom: 20px;
  }

.proximamente h2{
    color:var(--main-color);
}

.proximamente p{
   margin:20px 0 30px;
}

.carouselContainer{
    margin: 50px 0;
    padding: 10px 0;
   
}

.carouselContainer img {
    width: 50% !important;
    margin:0 auto;
    display: block;
}

.owl-theme .item2 p {
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin:30px 0;
  }


  .carouselWrapper {
    width: 80%;
    margin: 0 auto;
  }
  
  
  .item2 {
    text-align: center;
  }
  
  .item2 img {
    width: 100%;
    border-radius: 8px;
  }
  
  .item2 p {
    margin-top: 10px;
    font-weight: bold;
    color: #444;
  }
