.slider-container {
  position: relative;
  width: 100%;
  height: 606px;
  overflow: hidden;
  
}

.slider {
  width: 100%; 
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  transition: background-image 1s ease-in-out;
  box-shadow: inset 0 0 0 2000px #0c012bb3 !important;
}

.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Oscurece un poco la imagen */
  z-index: 1;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  padding: 20px;
}

.slider-text h2 {
  font-size: 5rem;
  margin: 0;
}

.slider-text p {
  font-size: 2.5rem;
  margin: 10px 0 0;
  color: #fff !important;
  line-height: 50px;
}

.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #fff;
}


@media (max-width: 480px) {
  .slider-container {
    height: 300px;
  }

  .slider-text {
    padding: 0 15px;   
    width: 100%;
    max-width: none;      
  }

  .slider-text h2 {
    font-size: 2rem;
  }

  .slider-text p {
    font-size: 1rem;
    line-height: 30px;
    margin: 10px 0 0;
  }
}