.vipContainer{
    display: flex;
    width:70%;
    margin:100px auto;
    flex-wrap: wrap;
}

.vipContainer hr {
    width: 100% !important;
    border: none;
    border-top: 1px solid #868585; /* Add a solid border at the top */
    margin: 20px 0; /* Optional: Adds spacing above and below */
}

.vipColumn {
    width:50%;
}

.vipColumn img {
    margin:0 auto;
    display: block;
}

.vipColumn h2{
    color:var(--main-color);
}

.vipColumn p{
   margin:20px 0 30px;
}

@media (min-width:1024px) and (max-width:1280px){
    .vipContainer{
        width:90%;
    }
}

@media (min-width:900px) and (max-width:1024px){
    .vipColumn p{
        margin:10px 0 20px;
     }
}

@media (min-width:320px) and (max-width:1020px){
    .vipColumn {
        width:100% !important;
     }

     .vipColumn img {
        margin:0 auto 50px;
        max-width: 100%;
    }
}